{% extends 'layout.html' %}

{% block main %}

<article>
    <article class="container rounded m-4 px-0">
        <div class = "speedrun-game-selection-header py-3 px-4 rounded-top">
            <h2>Contact Us</h2>
        </div>
        <div class = "contact-us py-3 px-4 rounded-bottom">
            <p>
                You can contact us on the github's issue page found below.
                <a class = "speedrun-footer-text" href="https://github.com/AnthonyvW/WebDevFinalProj">https://github.com/AnthonyvW/WebDevFinalProj</a>
            </p>
        </div>
    </article>
</article>
{% endblock %}