{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}490 Speedruns{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static '490Speedruns.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <span>
                    <a class = "speedrun-nav-text speedrun-title" href="{% url 'index' %}">490 Speedruns</a>
                </span>
                <span>
                    <a class = "speedrun-nav-text"  href="{% url 'index' %}">Games</a>
                </span>
                <span>
                    {% if user.is_authenticated %}
                        Welcome <strong>{{ user.username }}!</strong>
                        <a class = "speedrun-nav-text" href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                        <a class = "speedrun-nav-text" href="{% url 'login' %}">Log In</a>
                        <a class = "speedrun-nav-text" href="{% url 'register' %}">Sign In</a>
                    {% endif %}
                </span>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            <span>
                <a class = "speedrun-footer-text" href="{% url 'contact_us' %}">Contact us</a>
            </span>
            <br>
            <br>
            <span>
                <a class = "speedrun-footer-text" href="https://github.com/AnthonyvW/WebDevFinalProj">Source Code</a>
            </span>
            
        </footer>
    </body>

</html>